body {
    background-color: #F8E9D7;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #304F47;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #525252;
    background-color: #F9F3EC;
    align-items: center;
}

.better-notes{
    display: grid;
    text-align: center;
}

header p {
    text-align: right;
    margin-right: 10px;
}

div.container-text {
    padding-bottom: 20px;
    margin-left: 10px;
}

.dark-theme {
    border: 0;
    line-height: 3.0;
    padding: 0 10px;
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #6f6a87;
}
.blue-theme {
    border: 0;
    line-height: 3.0;
    padding: 0 10px;
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #5394a0;
}

textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    background-color: #F9F3EC;
    border-color: #5B98E7; 
    border-width: 3px;
    box-sizing: border-box;
    width: 95%;
    height: 150px;
    padding: 10px;
    margin: auto;
    display: block;
}

div.save-cancel {
    text-align: right;
    padding-top: 20px;
}

.pink-theme {
    border: 0;
    line-height: 3.0;
    padding: 0 10px;
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #D9827C;
    margin-right: 10px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: #304F47;
    text-align: center;
    mix-blend-mode: multiply;
    position: relative;
    top: 200px;
}

@media screen and (min-width:600px) {
    main {
        margin-left: 25%;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 25%;
        align-items: flex-start;
        font-family: 'Montserrat', sans-serif;
        color: #525252; ;
        background-color: #F9F3EC;
        position: fixed;
    }
    .sidebar h2 {
        padding-left: 30px;
    }
    footer {
        top: 350px;
    }
    .dark {
        background-color: #000;
    }
}


