body {
    background-color: #F8E9D7;
}

section {
    display: grid;
    justify-content: end;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: #4B7171;
    text-align: center;
}
div {
    /* display: grid; */
}
.dark-theme {
    border: 0;
    line-height: 3.0;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #6f6a87;
}
.blue-theme {
    border: 0;
    line-height: 3.0;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #5394a0;
}
.pink-theme {
    border: 0;
    line-height: 3.0;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #D9827C;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    color: #4B7171;
    background-color: #F9F3EC;
}
.sidebar p{
    color: #4B7171;
    font-family: 'Montserrat', sans-serif;
}
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
footer {
    font-family: 'Montserrat', sans-serif;
    color: #4B7171;
    text-align: right;
}
