body {
    background-color: #F8E9D7;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #304F47;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #525252;
    background-color: #F9F3EC;
    align-items: center;
}

.better-notes{
    display: grid;
    text-align: center;
}   

header {
    text-align: right;
    margin-right: 10px;
}

.container-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

button {
    border: 0;
    line-height: 3.0;
    padding: 0 10px;
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
}

.dark-theme {
    background-color: #6f6a87;
}
.blue-theme {
    background-color: #5394a0;
}
.navy-theme {
    background-color: #5394a0;
}
.pink-theme {
    background-color: #D9827C;
}

.save-cancel {
    grid-row: 1;
    text-align: right;
    padding-top: 10px;
}

textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

textarea {
    background-color: #F9F3EC;
    border-color: #5B98E7; 
    border-width: 3px;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: 10px;
    margin: auto;
    display: block;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: #304F47;
    text-align: center;
    position: relative;
    top: 200px;
}

@media screen and (min-width:600px) {
    header {
        padding-bottom: 10px;
    }
    main {
        display: grid;
        columns: 2;
        margin-left: 20%;
    }

    .text-area {
        grid-row: 1;
        padding-bottom: 10px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        top: 0px;
        height: 100%;
        width: 20%;
        align-items: flex-start;
        font-family: 'Montserrat', sans-serif;
        color: #525252; ;
        background-color: #F9F3EC;
        position: fixed;
    }

    .sidebar h1 {
        padding-left: 30px;
    }

    footer {
        top: 350px;
    }

    a {
        display: inline-block;
    }
}

.dark {
    background-color: rgb(44, 44, 44);
    color: #fff;
}
.dimSideBar {
    background-color: rgb(41, 39, 49);
    color: white;
}
.dimBlueButton {
    background-color: rgb(18, 18, 64);
}
.dimDarkButton {
    background-color: rgb(255, 7, 131);
}
.dimTextArea {
    background-color: #686284;
}
.dimNavyButton {
    background-color: #5B98E7;
}
.dimPinkButton {
    background-color: rgb(61, 255, 151);
}
.clearTextBtn {
    display: none;
}
.dimFooter {
    color: white;
}
.imgDark {
    filter: invert(100%) brightness(300%);
}
